@model List<MVC_Full_Training.Models.ClasseRoom>

@Styles.Render("~/MyDesign")


@foreach (var item in Model)
{
    // design of one room item
    <div class="container">
        <div class="well well-sm">
            <strong>Display</strong>
            
        </div>
        <div id="products" class="row list-group">
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Name:       @item.classRoomName
                        </h4>
                        <p class="group inner list-group-item-text">
                           number:       @item.classRoomNO
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Available:       @item.isAvailable
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                          
                                <a class="btn btn-success" href="/ClassRoom/GetClasseRoom/@item.classRoomID">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
